* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0%;

    @font-face {
        font-family: cooper;
        src: url('CooperFiveOpti-Black.otf');
    }
}

body {
    padding: 1%;
    background: #bc9dca;
}

.sidenav {
    position: absolute;
    overflow: hidden;
    background-color: #9a7bb7;
    width: 20%;
    height: 95%;
}

.sidenav a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: cooper;
    font-size: 1.5vw;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: #9a7bb7;
    padding: 5%;
}

li {
    display: block;
    color: white;
}

li a {
    display: block;
}

li a:hover {
    background-color: #bc9dca;
}

.sidenav h1 {
    text-align: center;
    padding: 10%;
    font-family: cooper;
    font-size: 2.4vw;
}

.sidenav img {
    max-width: 100%;
    height: auto;
    align-content: center;
}

.container {
    display: grid;
    background-color: #9a7bb7;
    padding: 10px;
    grid-template-columns: 1fr 2fr;
}

.container p {
    color: white;
    font-family: cooper;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
} */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .sidenav a {
        float: none;
        width: 100%;
    }
}